# edit after: ls -ap >> .gitignore
aarch64/
aarch64.1.2.0/
.cproject
omniORB-4.2.3/
omniORB-4.2.3.tar.bz2
OpenRTM-aist-1.2.0/
OpenRTM-aist-1.2.0.tar.gz
OpenRTM-aist-1.2.2/
.project
rtctree/
rtshell/
rtsprofile/
.settings/
x86_64/
#dl/
omninames*.bak
omninames*.dat
omniORBpy-4.2.3/
OpenRTM-aist-Python-1.2.2/
r32.4.3/
r32.6.1/
rtc*.log
